html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Bushi';
    src: url('/font/BushiRegular.otf');
}

@font-face {
    font-family: 'Rapilot';
    src: url('/font/RapilotRegular.otf');
}

@font-face {
    font-family: 'Underlines';
    src: url('/font/Underlines.ttf');
}

@font-face {
    font-family: 'Giomori';
    src: url('/font/Giomori.otf');
}

@font-face {
    font-family: 'BrilliantGrungeItalic';
    src: url('/font/BrilliantGrungeItalic.ttf');
}

@font-face {
    font-family: 'BrilliantGrunge';
    src: url('/font/BrilliantGrungeRegular.ttf');
}

body {
    min-height: 100dvh;
    min-width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: url(https://images.unsplash.com/photo-1696613755401-dac200797436?q=80&w=627&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
}

.box {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emoji {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    flex: 2;
    margin-bottom: 2rem;

    && img {
        width: 45%;
        filter: grayscale(100%);
    }
}

.card {
    display: flex;
    flex: 1;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    /*Glass Effect*/
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 6px 16px rgba(0, 0, 0, 0.18),
        0 12px 22px rgba(0, 0, 0, 0.24);
}

.card .title {
    font-size: 75%;
    font-family: 'BrilliantGrunge';
    padding: 1.5rem 2rem;
    color: rgba(255, 255, 255, 0.5);

    && p {
        font-family: 'BrilliantGrungeItalic';
        color: pink;
    }
}

.card .countdown {
    font-size: 85%;
    font-family: 'Giomori';
    color: rgba(255, 255, 255, 0.5);
    margin: 0 0 0.5rem 0;
}

.card .cake {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;

    && img {
        width: 45%;
        filter: grayscale(100%);
    }
}

.card .pop button {
    font-family: 'Giomori';
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: .6rem 3rem;
    margin-bottom: 2rem;

    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);

    /*Glass Effect*/
    background: rgba(255, 118, 225, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 6px 16px rgba(0, 0, 0, 0.18),
        0 12px 22px rgba(0, 0, 0, 0.24);

    &&:active {
        transform: scale(0.94);
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    }
}

.credits {
    font-size: 70%;
    display: flex;
    flex-direction: column;
    flex: 3;
    color: rgba(255, 255, 255, 0.5);
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;

    & a {
        text-decoration: none;
        color: rgb(255, 255, 255, 0.7);
    }
}

.popper {
    position: fixed;
    inset: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: end;
    opacity: 0;

    background: rgba(0, 0, 0, 0.1);

    pointer-events: none;
    transition: opacity 0.3s ease;
}

.popper img {
    rotate: -42deg;
    width: 45%;
    animation: pop 0.3s ease forwards;
}

.popper.active {
    opacity: 1;
    pointer-events: auto;
}

.flakes {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    background: rgba(0, 0, 0, 0);

    pointer-events: none;
    transition: opacity 0.5s ease;
}

.flakes img {
    width: 100%;
}

.flakes.active {
    opacity: 1;
    pointer-events: auto;
}

@keyframes pop {
    from {
        transform: scale(0.6);
    }

    to {
        transform: scale(1);
    }
}

.edit {
    z-index: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    background: rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 6px 16px rgba(0, 0, 0, 0.18),
        0 12px 22px rgba(0, 0, 0, 0.24);
}

.edit .vids {
    width: 70%;
    border-radius: 1.5rem;
}

.edit button {
    position: fixed;
    bottom: 7.5rem;
    font-family: 'Giomori';
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.4);
    border: none;
    padding: .5rem 2rem;

    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);

    /*Glass Effect*/
    background: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 6px 16px rgba(0, 0, 0, 0.18),
        0 12px 22px rgba(0, 0, 0, 0.24);

    &&:active {
        transform: scale(0.94);
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    }
}

.edit.active {
    opacity: 1;
    pointer-events: auto;
}

.pics {
    max-width: 400px;
    overflow: hidden;
    inset: 0;

    z-index: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 6px 16px rgba(0, 0, 0, 0.18),
        0 12px 22px rgba(0, 0, 0, 0.24);
}

.pics .titlepics {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: center;
    text-align: center;
    top: 7rem;
    font-family: 'Giomori';
    font-size: 65%;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 2px;

    && h1 {
        padding: 1rem;
        border-radius: .7rem;

        /*Glass Effect*/
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        box-shadow:
            0 1px 3px rgba(0, 0, 0, 0.12),
            0 6px 16px rgba(0, 0, 0, 0.18),
            0 12px 22px rgba(0, 0, 0, 0.24);
    }
}

.pics .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease;

    && img {
        position: fixed;
        width: 140px;
        height: 180px;
        border-radius: 1rem;
        object-fit: cover;
        opacity: 0.5;
        transform: scale(0.9);
        transition: 0.3s;
    }

    && img.active {
        opacity: 1;
        transform: scale(1.5);
        z-index: 1;
        border: 2px solid rgba(255, 255, 255, 0.2);
    }
}

.pics .carousel button {
    position: fixed;
    font-family: 'Giomori';
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.5);
    border: none;
    padding: .1rem 1rem;
    z-index: 2;

    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);

    /*Glass Effect*/
    background: rgba(255, 255, 255, 0.05);
    border-radius: 100%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 6px 16px rgba(0, 0, 0, 0.18),
        0 12px 22px rgba(0, 0, 0, 0.24);

    &&:active {
        transform: scale(0.94);
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    }
}

.pics .carousel .right {
    right: 1rem;
}

.pics .carousel .left {
    left: 1rem;
}

.pics .choose {
    position: fixed;
    bottom: 7.5rem;
    font-family: 'Giomori';
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.4);
    border: none;
    padding: .5rem 2rem;

    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);

    /*Glass Effect*/
    background: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 6px 16px rgba(0, 0, 0, 0.18),
        0 12px 22px rgba(0, 0, 0, 0.24);

    &&:active {
        transform: scale(0.94);
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    }
}

.pics.active {
    opacity: 1;
    pointer-events: auto;
}